* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-color: hsl(233, 100%, 97%);
}

body {
  font-family: "Palanquin", sans-serif;
  background: var(--bg-color);
}

#logo {
  padding: 3.2rem 0;
}

h1 {
  font-size: 4rem;
  color: hsla(0, 0%, 100%, 1);
  text-shadow: rgba(0, 0, 0, 0.25);
  font-weight: 400;
}

h1,
h2 {
  text-transform: uppercase;
  font-family: "Staatliches", cursive;
  letter-spacing: 0.5rem;
  line-height: 3.4rem;
}

header {
  background: hsla(218, 17%, 62%, 1);
  display: grid;
  place-items: center;
}

.title {
  background: hsla(275, 18%, 79%, 1);
  margin-bottom: 2.9rem;
  padding: 0.8rem;
  width: 100%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 3.2rem 6rem;
}

.text {
  font-family: "Palanquin", sans-serif;
  color: hsla(274, 84%, 12%, 1);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  padding: 3.2rem;
  width: 31.5rem;
}

.intro-desktop{
  display: none;
}

.cards {
  display: grid;
  gap: 3.2rem;
  margin-top: 5rem;

  animation: topdown 700ms;
}

.card:hover {
  transform: scale(1.1);
}

.cards .card {
  position: relative;
  
  height: fit-content;
  transition: transform;
  transition-duration: 400ms;
}

.cards .card h2 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  background: hsla(312, 91%, 96%, 1);
  color: hsla(232, 17%, 35%, 1);
  font-size: 2rem;
  border-radius: 2rem;
  padding: 0 2.4rem;

  animation: downtop 700ms;
}

.cards .card img {
  width: 100%;
}

footer {
  font-size: 1.4rem;
  margin-top: 50px;
}

footer a {
  text-decoration: none;
  color: hsl(232, 17%, 35%);
}

footer a:hover {
  cursor: pointer;
  color: hsl(229, 19%, 11%);
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 900px) {
  .text{
    display: none;
  }

  .intro-desktop{
    color: #ffffff;
    font-size: 1.8rem;
    line-height: 1.5rem;
    width: 28rem;
    text-align: center;
    display: block;

    
  }
  .title{
    margin-bottom: 3.2rem;
    
  }
  .page{
    display: flex;
  }
  header{
    width: 37.7rem;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
  
  }
  .cards{
    margin-left: 37.7rem;
    grid-template-areas: 
    "a b"
    "c b"
    "c d"
    "e f";
  }
  .cards .card:nth-child(1){
    grid-area: a;
  }
  .cards .card:nth-child(2){
    grid-area: b;
  }
  .cards .card:nth-child(3){
    grid-area: d;
  }
  .cards .card:nth-child(4){
    grid-area: c;
  }
  .cards .card:nth-child(5){
    grid-area: e;
  }
  .cards .card:nth-child(6){
    grid-area: f;
  }
}
@media (min-width: 1440px){
  .cards{
    grid-template-areas: 
    "a b c"
    "d b e"
    "d f e";
  }

  .cards .card:nth-child(1){
    grid-area: a;
  }
  .cards .card:nth-child(2){
    grid-area: b;
  }
  .cards .card:nth-child(3){
    grid-area: c;
  }
  .cards .card:nth-child(4){
    grid-area: d;
  }
  .cards .card:nth-child(5){
    grid-area: f;
  }
  .cards .card:nth-child(6){
    grid-area: e;
  }
}